Repository opensearch-project/neural-search, pull requests merged in 2025-05, with the labels that each got.

#1300 Allow maven to publish to all versions
  .github/workflows/maven-publish.yml
Labels: release, skip-changelog, enhancement, backport 3.0

#1291 Return bad request for invalid stat parameters in stats API
  CHANGELOG.md
  src/main/java/org/opensearch/neuralsearch/rest/RestNeuralStatsAction.java
  src/test/java/org/opensearch/neuralsearch/rest/RestNeuralStatsActionTests.java
Labels: v3.1.0

#1309 Add semantic ingest processor.
  CHANGELOG.md
  build.gradle
  src/main/java/org/opensearch/neuralsearch/constants/MappingConstants.java
  src/main/java/org/opensearch/neuralsearch/mappingtransformer/SemanticMappingTransformer.java
  src/main/java/org/opensearch/neuralsearch/ml/MLCommonsClientAccessor.java
  src/main/java/org/opensearch/neuralsearch/plugin/NeuralSearch.java
  src/main/java/org/opensearch/neuralsearch/processor/dto/SemanticFieldInfo.java
  src/main/java/org/opensearch/neuralsearch/processor/factory/SemanticFieldProcessorFactory.java
  src/main/java/org/opensearch/neuralsearch/processor/semantic/SemanticFieldProcessor.java
  src/main/java/org/opensearch/neuralsearch/processor/util/ProcessorUtils.java
  src/main/java/org/opensearch/neuralsearch/util/ProcessorDocumentUtils.java
  src/main/java/org/opensearch/neuralsearch/util/SemanticMLModelUtils.java
  src/main/java/org/opensearch/neuralsearch/util/SemanticMappingUtils.java
  src/test/java/org/opensearch/neuralsearch/mappingtransformer/SemanticMappingTransformerTests.java
  src/test/java/org/opensearch/neuralsearch/ml/MLCommonsClientAccessorTests.java
  src/test/java/org/opensearch/neuralsearch/plugin/NeuralSearchTests.java
  src/test/java/org/opensearch/neuralsearch/processor/TextChunkingProcessorTests.java
  src/test/java/org/opensearch/neuralsearch/processor/dto/SemanticFieldInfoTests.java
  src/test/java/org/opensearch/neuralsearch/processor/factory/SemanticFieldProcessorFactoryTests.java
  src/test/java/org/opensearch/neuralsearch/processor/semantic/SemanticFieldProcessorTests.java
  src/test/java/org/opensearch/neuralsearch/util/SemanticMLModelUtilsTests.java
  src/test/java/org/opensearch/neuralsearch/util/SemanticMappingUtilsTests.java
  src/test/resources/processor/semantic/ingest_doc1.json
  src/test/resources/processor/semantic/ingest_doc2.json
  src/test/resources/processor/semantic/ingest_doc3.json
  src/test/resources/processor/semantic/ingested_doc1.json
  src/test/resources/processor/semantic/ingested_doc2.json
  src/test/resources/processor/semantic/ingested_doc3.json
  src/test/resources/processor/semantic/invalid_ingest_doc.json
Labels: Enhancements, neural-search

#1289 [Performance Improvement] Add custom bulk scorer for hybrid query (2-3x faster)
  CHANGELOG.md
  qa/rolling-upgrade/src/test/java/org/opensearch/neuralsearch/bwc/rolling/HybridSearchRelevancyIT.java
  src/main/java/org/opensearch/neuralsearch/query/HybridBulkScorer.java
  src/main/java/org/opensearch/neuralsearch/query/HybridQueryDocIdStream.java
  src/main/java/org/opensearch/neuralsearch/query/HybridQueryScorer.java
  src/main/java/org/opensearch/neuralsearch/query/HybridQueryWeight.java
  src/main/java/org/opensearch/neuralsearch/query/HybridScorerSupplier.java
  src/main/java/org/opensearch/neuralsearch/query/HybridSubQueryScorer.java
  src/main/java/org/opensearch/neuralsearch/search/collector/HybridLeafCollector.java
  src/main/java/org/opensearch/neuralsearch/search/collector/HybridTopFieldDocSortCollector.java
  src/main/java/org/opensearch/neuralsearch/search/collector/HybridTopScoreDocCollector.java
  src/main/java/org/opensearch/neuralsearch/search/collector/PagingFieldCollector.java
  src/main/java/org/opensearch/neuralsearch/search/collector/SimpleFieldCollector.java
  src/test/java/org/opensearch/neuralsearch/query/HybridBulkScorerTests.java
  src/test/java/org/opensearch/neuralsearch/query/HybridQueryDocIdStreamTests.java
  src/test/java/org/opensearch/neuralsearch/query/HybridQueryScorerTests.java
  src/test/java/org/opensearch/neuralsearch/query/HybridScorerSupplierTests.java
  src/test/java/org/opensearch/neuralsearch/query/HybridSubQueryScorerTests.java
  src/test/java/org/opensearch/neuralsearch/search/collector/HybridCollectorTestCase.java
  src/test/java/org/opensearch/neuralsearch/search/collector/HybridTopFieldDocSortCollectorTests.java
  src/test/java/org/opensearch/neuralsearch/search/collector/HybridTopScoreDocCollectorTests.java
  src/test/java/org/opensearch/neuralsearch/search/query/HybridCollectorManagerTests.java
  src/testFixtures/java/org/opensearch/neuralsearch/BaseNeuralSearchIT.java
Labels: hybrid search, hybrid query performance optimization, v3.1.0

#1315 Implement the query logic for the semantic field.
  CHANGELOG.md
  src/main/java/org/opensearch/neuralsearch/common/MinClusterVersionUtil.java
  src/main/java/org/opensearch/neuralsearch/highlight/extractor/NestedQueryTextExtractor.java
  src/main/java/org/opensearch/neuralsearch/highlight/extractor/QueryTextExtractorRegistry.java
  src/main/java/org/opensearch/neuralsearch/mapper/dto/SemanticParameters.java
  src/main/java/org/opensearch/neuralsearch/mappingtransformer/SemanticInfoConfigBuilder.java
  src/main/java/org/opensearch/neuralsearch/mappingtransformer/SemanticMappingTransformer.java
  src/main/java/org/opensearch/neuralsearch/plugin/NeuralSearch.java
  src/main/java/org/opensearch/neuralsearch/query/NeuralQueryBuilder.java
  src/main/java/org/opensearch/neuralsearch/query/dto/NeuralQueryBuildStage.java
  src/main/java/org/opensearch/neuralsearch/query/dto/NeuralQueryTargetFieldConfig.java
  src/main/java/org/opensearch/neuralsearch/query/parser/NeuralQueryParser.java
  src/main/java/org/opensearch/neuralsearch/util/NeuralQueryValidationUtil.java
  src/main/java/org/opensearch/neuralsearch/util/NeuralSearchClusterUtil.java
  src/main/java/org/opensearch/neuralsearch/util/SemanticMappingUtils.java
  src/test/java/org/opensearch/neuralsearch/highlight/QueryTextExtractorTests.java
  src/test/java/org/opensearch/neuralsearch/mappingtransformer/SemanticInfoConfigBuilderTests.java
  src/test/java/org/opensearch/neuralsearch/processor/NeuralQueryEnricherProcessorTests.java
  src/test/java/org/opensearch/neuralsearch/processor/rerank/MLOpenSearchRerankProcessorTests.java
  src/test/java/org/opensearch/neuralsearch/query/HybridQueryBuilderTests.java
  src/test/java/org/opensearch/neuralsearch/query/NeuralQueryBuilderBuilderTests.java
  src/test/java/org/opensearch/neuralsearch/query/NeuralQueryBuilderRewriteTests.java
  src/test/java/org/opensearch/neuralsearch/query/NeuralQueryBuilderTests.java
  src/test/java/org/opensearch/neuralsearch/query/NeuralSparseQueryBuilderTests.java
  src/test/java/org/opensearch/neuralsearch/query/visitor/NeuralSearchQueryVisitorTests.java
  src/test/java/org/opensearch/neuralsearch/util/NeuralSearchClusterUtilTests.java
  src/testFixtures/java/org/opensearch/neuralsearch/BaseNeuralSearchIT.java
  src/testFixtures/java/org/opensearch/neuralsearch/util/NeuralSearchClusterTestUtils.java
Labels: Enhancements, neural-search

#1322 Support custom weights params in RRF
  CHANGELOG.md
  src/main/java/org/opensearch/neuralsearch/processor/combination/ArithmeticMeanScoreCombinationTechnique.java
  src/main/java/org/opensearch/neuralsearch/processor/combination/RRFScoreCombinationTechnique.java
  src/main/java/org/opensearch/neuralsearch/processor/combination/ScoreCombinationFactory.java
  src/main/java/org/opensearch/neuralsearch/processor/factory/RRFProcessorFactory.java
  src/test/java/org/opensearch/neuralsearch/processor/RRFProcessorIT.java
  src/test/java/org/opensearch/neuralsearch/processor/combination/RRFScoreCombinationTechniqueTests.java
  src/test/java/org/opensearch/neuralsearch/processor/factory/RRFProcessorFactoryTests.java
  src/test/java/org/opensearch/neuralsearch/query/HybridQueryExplainIT.java
  src/testFixtures/java/org/opensearch/neuralsearch/BaseNeuralSearchIT.java
Labels: v3.1.0

#1305 add validation for invalid nested hybrid query
  CHANGELOG.md
  src/main/java/org/opensearch/neuralsearch/search/query/HybridQueryPhaseSearcher.java
  src/test/java/org/opensearch/neuralsearch/search/query/HybridQueryPhaseSearcherTests.java
Labels: bug, good first issue, hybrid search
